@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior: none;
    /* padding: 0 5vw; */
}

body::-webkit-scrollbar {
    display: none;
}

.carousel-inner{

}
.carousel-inner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-caption{
    z-index: 2;

}

.space{
    height: 5vh;
}
.centre{
    display: flex;
    align-items: center;
    justify-content: center;

}

.di-bold{
    color: #317773;
    font-weight: bolder;
    gap: 2px;
}
.navbar-brand{
    line-height: 22px;
}
.navbar{
    padding-left: 5vw;
    padding-right: 5vw;
}
.mesg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg{
    max-width: 80vw;
    text-align: justify;
    text-justify: inter-word;

}
.row p{
    text-align: justify;
    text-justify: inter-word;
}

.flex{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    gap:2vw;
    flex-wrap: wrap;

}
.c-s{
    border: none;
}
.row{
    /*grid-template-columns: repeat(auto-fill, 186px);*/
    place-content: end center;
    gap: 2vw;

}
.card img{
    padding: 5px;
    border-radius: 3%;
}
.c-b{
    border-style: none;
    background: #0096a4;
    border-radius: 5;
    /*max-width: 16vw;*/

}
.card-body h5{
    color: white;
}
.card-body p{
    color: white;
}
.alert-box{
    border-radius: 0;
    border: none;
    background-color: #0096a4;
}
.alert-box marquee{
    color: white;
}
.c-body{
    text-align: justify;
    padding: 20px;
    
}
.navbar-toggler{
    border: none;

}
.navbar-toggler-icon{
    max-width: 5vw;

}
.btn-w{
    color: #0096a4;
    background-color: white;
    border: none;
}
.n-body{
display: flex;
justify-content: center;
align-items: center;
gap: 1vw;
flex-wrap: auto;
}
.n-head{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0096a4;
    gap:5px
}
.modal-body, .modal-header, .modal-footer{
    border: none;
}
.sign-form{
    border: none;
}
.mdf{

}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.ddm{
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.774);
    transition: all 0.2s linear;
}
.ddm:hover{
    background-color: white;
}
.nvb{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100vw;
}





/* <- Gallery styles -> */
