@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    display: none;
}

.carousel-inner{

}
.carousel-inner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-caption{
    z-index: 2;

}

.space{
    height: 5vh;
}
.centre{
    display: flex;
    align-items: center;
    justify-content: center;

}

.di-bold{
    color: #317773;
    font-weight: bolder;
    gap: 2px;
}
.navbar-brand{
    line-height: 22px;
}
.navbar{
    padding-left: 10vw;
    padding-right: 10vw;
}
.mesg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg{
    max-width: 80vw;
    text-align: justify;
    text-justify: inter-word;

}
.msg p{
    text-align: justify;
    text-justify: inter-word;
}